:root {

  /* Main Colors */
  --main-bg-color: #f7fcff;
  --info-bar-button-color: rgba(53,166,255, 1);
  --panel-secondary-color: rgba(0 ,0  ,0  , 0.6);
  --thin-grey : rgba(0 ,0  ,0  , 0.55);
  --dark-main: rgba(16,131,221, 1);

  /* Material Shadows */
  --m-s-1: 0 1px  3px  rgba(0,0,0,0.12), 0 1px  2px  rgba(0,0,0,0.24);
  --m-s-2: 0 3px  6px  rgba(0,0,0,0.16), 0 3px  6px  rgba(0,0,0,0.23);
  --m-s-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px  6px  rgba(0,0,0,0.23);
  --m-s-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --m-s-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Material Transitions */
  --m-t-1: all 0.3s cubic-bezier(.25,.8,.25,1);

  /* Border Radius */
  --br: 1px;
}

body {
  background-color: var(--main-bg-color);
  /*background-image: url(https://christopherklopp.files.wordpress.com/2013/07/whitepaper.jpg);*/
  background-repeat: no-repeat;
  background-size: auto 100vh;
}
.container {
  min-width: 375px;
}
#draggablePanelList .panel-heading {
  cursor: move;
}
#draggablePanelList:{
}
.headboard {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #e6f6ff;
}
.headboard p{
  margin: -8px;
}
.info-bar-container {
  background-color: #242424;
  box-shadow: var(--m-s-2);
}
.info-bar {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px !important;
  display: flex;
  font-size: 26px;
}
.add-character {
  padding: 4px;
  align-self: center;
  transition: all 0.3s ease-out;
  font-weight: bold;
  margin-right: auto;
}
.add-character:hover {
  background-color: #000;
}
#add-button {
  color: var(--info-bar-button-color);
}
#add-button i {
  font-size: 35px;px;
}
.sort-initiative {
  padding: 4px;
  align-self: center;
  transition: all 0.3s ease-out;
  font-weight: bold;
  margin-left: auto;
  margin-right: 15px
}
.sort-initiative:hover {
  background-color: #000;
}
#sort-button {
  color: var(--info-bar-button-color);
}
#sort-button i {
  font-size: 35px;
}
.container {
  padding: 15px;
}
.panel {
  margin: 10px 0px;
  border-color: var(--panel-secondary-color);
  border-radius: var(--br);
  border: none;
  background-color: transparent !important;
  transition: var(--m-t-1);
  background-color: var(--info-bar-button-color) !important;
  box-shadow: var(--m-s-1);
}
.ui-sortable-helper {
  box-shadow: var(--m-s-2);
}
.panel-heading {
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  border-bottom: none;
  border-radius: var(--br);
  background-color: transparent !important;
}
.remove-character {
  position: relative;
  color: var(--panel-secondary-color);
  display: flex;
  font-weight: bold;
  padding: 0px 8px;
  transition: all 0.3s ease-out;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
}
.remove-character:hover {
  text-decoration: none;
  color: rgba(0,0,0, 0.7);
}
.remove-character i {
  font-size: 27px;
  align-self: center;
  color: var(--thin-grey);
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
}
.remove-character i:hover {
  transform: rotate(90deg);
}
.character {
  position: relative;
}
.character .input-box {
  height: 88%;
  margin: 1% 0%;
  border-radius: 2px;
}
.toggle-body {
  display: flex;
  transition: all 0.3s ease-out;
  padding: 0px 6px;
  color: --thin-grey;
}
.toggle-body:hover {
  text-decoration: none;
  color: --thin-grey;
}
.toggle-body i {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
  align-self: center;
  color: var(--thin-grey);
}
.toggle-body.collapsed i {
  transform: rotate(0deg);
}
.toggle-body.collapsed {
  background-color: var(--info-bar-button-color);
}
.initiative {
  margin-left: auto;
  height: 40px;
}
.initiative .input-box {
  text-align: center;
  height: 88%;
  width: 45px;
  margin: 3% 15px 3% 0px;
}
.input-box {
  color: rgba(0,0,0, 0.7);
  padding: 0px 5px;
  border-radius: 2px;
  border: 0;
  border-style: solid;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
}
.panel-body {
  padding: 0;
  height: 40px;
  border-top: 1px solid #249af7;
  display: flex;
  align-content: space-between;
  margin: 0px 15px 0px 0px;
}
.md-input-group {
  display: flex;
  flex: 1;
}
.md-input-group input {
  margin: 1% 0;
  width: 100%;
  border-radius: 2px;
}
.panel-icon {
  margin: 0;
  position: relative;
  color: var(--panel-secondary-color);
  display: flex;
  font-weight: bold;
  padding: 0px 10px 0px 11px;
  transition: all 0.3s ease-out;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
}
.panel-icon svg {
  font-size: 20px;
  align-self: center;
  color: var(--thin-grey);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* { box-sizing:border-box; }
