:root {
  --main-bg-color: #f7fcff;
  --info-bar-button-color: rgba(53,166,255, 0.8);
  --panel-secondary-color: rgba(0,0,0, 0.7);

  /* Material Shadows */
  --m-s-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --m-s-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --m-s-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --m-s-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --m-s-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Material Transitions */
  --m-t-1: all 0.3s cubic-bezier(.25,.8,.25,1);;

  /* Border Radius */
  --br: 2px;
}

body {
  background-color: var(--main-bg-color);
  /*background-image: url(https://christopherklopp.files.wordpress.com/2013/07/whitepaper.jpg);*/
  background-repeat: no-repeat;
  background-size: auto 100vh;
}
.container {
  min-width: 375px;
}
#draggablePanelList .panel-heading {
  cursor: move;
}
#draggablePanelList:{
}
.headboard {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #e6f6ff;
}
.headboard p{
  margin: -8px;
}
.info-bar-container {
  background-color: #242424;
  box-shadow: var(--m-s-2);
}
.info-bar {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px !important;
  display: flex;
  font-size: 26px;
}
.add-character {
  padding: 8px 13px;
  align-self: center;
  transition: all 0.3s ease-out;
  font-weight: bold;
  margin-right: auto;
}
.add-character:hover {
  background-color: #000;
}
#add-button {
  color: var(--info-bar-button-color);
}
.sort-initiative {
  padding: 8px 13px;
  align-self: center;
  transition: all 0.3s ease-out;
  font-weight: bold;
  margin-left: auto;
  margin-right: 11.5px
}
.sort-initiative:hover {
  background-color: #000;
}
#sort-button {
  color: var(--info-bar-button-color);
}
.sort-initiative svg{
  transform: rotate(90deg);
}
.container {
  padding: 15px;
}
.panel {
  margin: 10px 0px;
  border-color: var(--panel-secondary-color);
  border-radius: var(--br);
  border: none;
  background-color: transparent !important;
  transition: var(--m-t-1);

  background-color: var(--info-bar-button-color) !important;
  box-shadow: var(--m-s-1);
}
.ui-sortable-helper {
  /*margin: -2px -2px;
  padding: 2px 0px;*/
  box-shadow: var(--m-s-2);
}
.ui-sortable-helper .panel-heading{


}
.panel-heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  border-bottom: none;
  border-radius: var(--br);
  background-color: transparent !important;
}
.remove-character {
  color: var(--panel-secondary-color);
  display: flex;
  font-weight: bold;
  font-size: 26px;
  padding: 0px 13px 0px 13px;
  transition: all 0.3s ease-out;
  /*border-right: 1px solid var(--panel-secondary-color);*/
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
}
.remove-character:hover {
  text-decoration: none;
  background-color: rgba(16,131,221, 0.8);
  color: rgba(0,0,0, 0.7);
}
.remove-character svg {
  align-self: center;
}
.character {
  height: 40px;
}
.character .input-box {
  height: 100%
}
.toggle-body {
  display: flex;
  font-size: 20px;
  transition: all 0.3s ease-out;
  padding: 0px 10px;
  color: rgba(0,0,0, 0.45);
}
.toggle-body:hover {
  text-decoration: none;
  background-color: rgba(16,131,221, 0.8);
  color: rgba(0,0,0, 0.3);
}
.toggle-body svg {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
  align-self: center;
}
.toggle-body.collapsed svg {
  transform: rotate(0deg);
}
.initiative {
  margin-left: auto;
  height: 40px;
}
.initiative .input-box {
  text-align: center;
  height: 100%;
  width: 45px;
  margin: 0px 15px;
}
.input-box {
  color: rgba(0,0,0, 0.7);
  padding: 0px 5px;
  border-radius: 0px;
  border: 0;
  /*border-bottom: 2px solid var(--panel-secondary-color);*/
  border-style: solid;
  font-size: 20px;
  background-color: transparent;
  background-color: rgba(255,255,255, 0.3);
}
.input-box {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
